@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
}

/* Header */

header{
    position:fixed;
    top:0;
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);

    z-index:1000;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:700;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin:0 20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:17px;
    position:relative;
}

nav ul li a::after{
    content:'';
    position:absolute;
    width:0;
    height:2px;
    background:#ffd700;
    left:0;
    bottom:-5px;
    transition:0.3s;
}

nav ul li a:hover::after{
    width:100%;
}

.btn{
    background:#ffd700;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    color:black;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-5px);
}

/* Banner */

.banner{
    height:100vh;

background: linear-gradient(rgba(0,0,0,.5),
rgba(0,0,0,.5)),
url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.content h1{
    font-size:5rem;
    margin-bottom:20px;
}

.content p{
    font-size:1.3rem;
    margin-bottom:30px;
}

.banner-btn{
    padding:15px 35px;
    background:#ffd700;
    color:black;
    text-decoration:none;
    border-radius:50px;
    font-weight:600;
    transition:0.3s;
}

.banner-btn:hover{
    transform:translateY(-5px);
}

/* Sections */

section{
    padding:100px 8%;
    text-align:center;
}

h2{
    font-size:3rem;
    margin-bottom:15px;
}

.sub-title{
    color:#777;
    margin-bottom:50px;
}

.cards{
    display:flex;
    justify-content:center;
    gap: 5px;
    flex-wrap:wrap;
}

.card h1{
    font-size: 45px;
    color: #ff9800;
}

.card{
    width:300px;
    padding:40px 25px;
    background:white;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:0.4s;
    cursor:pointer;
}

.card i{
    font-size:50px;
    color:#ff9800;
    margin-bottom:20px;
}

.card:hover,
.active{
    background:#ff9800;
    color:white;
    transform:translateY(-15px);
}

.card:hover i,
.active i{
    color:white;
}

.card p{
    margin-top:10px;
    color:#666;
}

.card:hover p,
.active p{
    color:white;
}

/* Services */

.services{
    background:#f8f8f8;
}

/* Footer */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:60px 20px;
}

footer h3{
    font-size:32px;
    margin-bottom:20px;
}

footer p{
    margin:10px 0;
    color:#bbb;
}

.social-icons{
    margin:20px 0;
}

.social-icons i{
    font-size:22px;
    margin:0 10px;
    cursor:pointer;
    transition:0.3s;
}

.social-icons i:hover{
    color:green;
}

/* Responsive */

@media(max-width:900px){

    header{
        flex-direction:column;
        padding:20px;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
        margin:20px 0;
    }

    .content h1{
        font-size:3rem;
    }

    h2{
        font-size:2rem;
    }
}